.dragDropZone {
    padding: 2rem;
    text-align: center;
    background: lightgrey;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px darkgrey;
    height: 500px;
    max-height: 33%;
    overflow-y: scroll;
}
.dragDropZone p {
    color: black
}

.dragDropZone.inside-drag-area {
    opacity: .7;
}