.quadrant-table {
    table-layout: auto;
    width: 50%;
    background-color: red;
}
#row1 {
    min-width: 50% !important;
    max-width: 50% !important;
    width: 50% !important;
}

#row2 {
    min-width: 50% !important;
    max-width: 50% !important;
    width: 50% !important;
}

.cell {
    min-width: 50% !important;
    max-width: 50% !important;
    width: 50% !important; 
}