@import '../../styles/main';

.associate-eval .column.wrapper {
  width: calc(100%);
  min-height: 18rem;
  flex-grow: 1;

  &.swot-wrapper {
    width: auto !important;
    flex-grow: 0;
  }
}

.chart.container canvas {
  height: 100%;
  width: 95%;
}

@media only screen and (max-width: 998px) and (min-width: 768px) {
  .ui.grid.associate-eval {
    flex-wrap: wrap;
    width: 100%!important;
    max-width: 100% !important;
    margin-left: 0!important;
    margin-right: 0!important;

    .column.wrapper {
      width: 50% !important;
      max-width: 100%;
      min-height: 8rem;
      // max-height: 10rem;

      &.swot-wrapper {
        flex-basis: 100%;
        min-height: 0 !important;
        height: auto !important;
        flex-grow: 0;
        button { width: 100%; }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .associate-eval .column.wrapper {
    .chartjs-size-monitor {
      // width: 60%;
      height: 8rem !important;
    }

    &.swot-wrapper {
      min-height: 0 !important;
      height: auto !important;
      button { width: 100%; }
    }
  }
}