@import "../../styles/main";

#associateNameHeader {
  text-align: center !important;
  padding: 10px;
  color: white !important;
  span {
      color: $revature-orange;
  }
}
#swotContainer {
  max-width: 85%;
  width: 1800px;
}

.ui.segment.swot-header {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  background: rgba($revature-dark-gray, 1);
}

.ui.grid.row {
  overflow-y: scroll;
  overflow-x: hidden;
}

#swot-table-container {
    height: 90vh;
}

.accordion {
    box-shadow: none !important;
}

.bottom {
    margin-bottom: 10px !important;
}