#SwotDiv {
    margin: 0 auto;
}
#associateNameHeader {
    text-align: center !important;
    padding: 10px;
}
#swotContainer {
    max-width: 85%;
    width: 1800px;
}

#sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
