header{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 2px 2px #4d94ff;
}

Table{
    margin-top: 25px;
}

#data{
    text-align: center;
}

#table{
    width: 80%;
    align-self: center;
}

.title{
    font-weight: bold;
}

.info{
    font-weight: normal;
}