header{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    text-shadow: 2px 2px #4d94ff;
}

Table{
    margin-top: 25px;
}

#data{
    text-align: center;
}

thead{
    background-color: #F26925;
}

#table{
    width: 80%;
    align-self: center;
}