@import '../../styles/main';


.ui.segment { 
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  background: rgba($revature-dark-gray,1);
  color: white !important;
}

.ui header {
  @include ui-heading(2);
  color: white !important;
}

.user-actions { 
  background-color: $revature-blue !important;
  color: white !important;
}

.logout:hover { color: #B03060 !important; }

header {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  display: inline-block;
  /* text-shadow: 2px 2px #4d94ff; */
}

.ui.dropdown {
  float: right;
}

.accordion {
  width: 100% !important;
  margin: 1rem auto;
  align-self: center;
  @include shadow($ui-s);
}

.accordion .title {
  display: flex !important;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;

    & > span {
    @include ui-heading(5);
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid $revature-light-gray;
    &:first-of-type {
      border-left: none;
    }

    &.info { font-weight: normal; }

    &.right {
      // position: absolute;
      justify-self: end;
      margin-left: auto;
      font-style: italic;
      margin-right: 10px;
      white-space: nowrap;
    }
  }
}

.accordion.associate-accordion .content.active {
  display: flex !important ;
  flex-flow: row nowrap;
  padding: 1rem 0!important;
}

span.inline-join-list {
  @include join-array-seperator(', ');
}

.ui h4, .ui .heading4 {
  @include ui-heading(4)
}

.ui .accordion.batch-accordion {
  background-color: rgba($revature-light-gray,0.5);

  & > .title span {
    // color: white !important;
  }
}

.ui.tabular.menu > .active.item {
  background: $revature-orange !important;
  color: white;
}

@media only screen and (max-width: 767px) {
  .ui.tabular.menu {
    flex-flow: column nowrap;

    .item {
      margin-bottom: $ui-s !important;

      &.active {
        border-bottom-width: 1px !important;
        border-radius: .28571429rem !important;
      }
    }
  }

  .accordion .title > span.right {
    white-space: unset;
  }
  .accordion .title > span.batchName {
    visibility: hidden;
  }
}