#chart{
    width: 50%;
    height: 400px;
    border: solid rgb(180, 179, 179) 0.5px;
    margin-left: 50px;
    margin-top: 25px;
}

#title{
    font-size: 20px;
    background-color: rgba(245,105,38,1);
    color:white;
    padding-top: 0px;
    margin-top: 0px;
}